{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Acerca de Héctor</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse alias repellendus, quidem totam repellat aperiam illo tenetur itaque officiis animi hic aliquid consequatur nemo. Dicta quae vitae voluptate distinctio est?
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/hector.png" class="img-thumbnail">
    </div>
</div>

{{>footer }}